*{
    background-image: url("images/bgimg2.jpg");
     background-repeat: no-repeat; /*repeat-x,repeat-y */
    background-position: center;
    /* background shortend property */
    /* background: blue url("images/bgimg2.jpg") no-repeat center; */
}

#para1{
    color: rgb(209, 222, 25);
    background-color: black;
}
/* *{
    background-color: black;
} */

#para1{
    background-color: rgba(11, 11, 224, 0.3);
    opacity: 0.7;
    border-style: double none dashed none;
    border-width: 5px 5px 5px 5px;
    border-color: black red blue green;
    margin: auto;
}

.para{
    border-style: solid;
    /* border-width: top right bottom left; */
    border-width: 2px 5px 5px 2px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
h1{
    margin: auto;
    width: 300px;
}
.padding{
    /* padding: 50px 20px 50px 20px    ; */
    margin: auto;
    box-sizing: border-box;
}
body{
    padding: 50px;
}
.box{
    height: 100px;
    width: 500px;
    
    border: 1px solid black;
}

div p{
    color: yellow;
}
